html, body {
    width: 100%;
    height: 100%;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.flex-container {
    display: flex;
    width: 100%;
}

.header {
    grid-area: header;
    width: 100%;
}

.main {
    grid-area: main;
    align-items: center;
    flex-direction: column;
}

.footer {
    width: 100%;
    grid-area: footer;
}

.navigation {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.linklist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.linklist li {
    float: left;
}

.linklist a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.linklist a:hover {
    background-color: #111;
  }

.footer-links {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}